*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

html, body{
  height: 100%;
  background: linear-gradient(45deg,#CDDEFF,#DBE6FD,#676FA3,#A7BBC7);
  background-size: 600% 600%;
  animation: colors 5s ease infinite;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  position: relative;
  height: 348px;
  width: 250px;
  margin: 5px;
  perspective: 1000px;
}

.card .flip {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .flip{
  transform: rotateY(180deg);
}

.front-card, .back-card{
  position: absolute;
  backface-visibility: hidden;
}

.back-card{
  transform: rotateY(180deg);
}

.front-card img, .back-card img{
  border-radius: 12px;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3)
}

@keyframes colors {
  0%{
    background-position: 0% 30%;
  }

  30%{
    background-position: 30% 50%;
  }

  50%{
    background-position: 50% 60%;
  }

  60%{
    background-position: 60% 70%;
  }
}